# .dockerignore
.git
.gitignore
.dockerignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
htmlcov/
dist/
build/
*.egg-info/
.DS_Store